<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.shopping.mapper.ProductCommentsMapper">
    <resultMap id="BaseResultMap" type="com.lmy.shopping.entity.ProductComments">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="comm_id" jdbcType="VARCHAR" property="commId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="order_item_id" jdbcType="VARCHAR" property="orderItemId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous"/>
        <result column="comm_type" jdbcType="INTEGER" property="commType"/>
        <result column="comm_level" jdbcType="INTEGER" property="commLevel"/>
        <result column="comm_content" jdbcType="VARCHAR" property="commContent"/>
        <result column="comm_imgs" jdbcType="VARCHAR" property="commImgs"/>
        <result column="sepc_name" jdbcType="TIMESTAMP" property="sepcName"/>
        <result column="reply_status" jdbcType="INTEGER" property="replyStatus"/>
        <result column="reply_content" jdbcType="VARCHAR" property="replyContent"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
    </resultMap>


    <resultMap id="ProductCommentsMap" type="com.lmy.shopping.entity.ProductCommentsVo">
        <id column="comm_id" jdbcType="VARCHAR" property="commId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="order_item_id" jdbcType="VARCHAR" property="orderItemId"/>
        <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous"/>
        <result column="comm_type" jdbcType="INTEGER" property="commType"/>
        <result column="comm_level" jdbcType="INTEGER" property="commLevel"/>
        <result column="comm_content" jdbcType="VARCHAR" property="commContent"/>
        <result column="comm_imgs" jdbcType="VARCHAR" property="commImgs"/>
        <result column="sepc_name" jdbcType="TIMESTAMP" property="sepcName"/>
        <result column="reply_status" jdbcType="INTEGER" property="replyStatus"/>
        <result column="reply_content" jdbcType="VARCHAR" property="replyContent"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickname"/>
        <result column="user_img" jdbcType="VARCHAR" property="userImg"/>
        <result column="url" jdbcType="VARCHAR" property="productImg"/>
    </resultMap>


    <select id="findAllProductComments" resultMap="ProductCommentsMap">
        select u.user_id,
               u.username,
               u.nickname,
               u.user_img,
               pc.comm_id,
               pc.product_id,
               pc.product_name,
               pc.order_item_id,
               pc.user_id,
               pc.is_anonymous,
               pc.comm_type,
               pc.comm_level,
               pc.comm_content,
               pc.comm_imgs,
               pc.sepc_name,
               pc.reply_status,
               pc.reply_content,
               pc.reply_time,
               pc.is_show
        from product_comments pc
                 inner join users u
                            on u.user_id = pc.user_id
        where pc.product_id = #{product_id} limit #{start}
            , #{limit}
    </select>


    <select id="findProductCommentsByUid" resultMap="ProductCommentsMap">
        select u.user_id,
               u.username,
               u.nickname,
               u.user_img,
               pi.url,
               pc.comm_id,
               pc.product_id,
               pc.product_name,
               pc.order_item_id,
               pc.user_id,
               pc.is_anonymous,
               pc.comm_type,
               pc.comm_level,
               pc.comm_content,
               pc.comm_imgs,
               pc.sepc_name,
               pc.reply_status,
               pc.reply_content,
               pc.reply_time,
               pc.is_show
        from product_comments pc
                 inner join users u
                            on u.user_id = pc.user_id
                 inner join product_img pi on pc.product_id = pi.item_id
        where pc.user_id = #{userId}
          and pi.is_main = 1
            limit #{start}
            , #{limit}
    </select>
</mapper>