<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmy.shopping.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.lmy.shopping.entity.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="root_category_id" jdbcType="INTEGER" property="rootCategoryId"/>
        <result column="sold_num" jdbcType="INTEGER" property="soldNum"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>


    <resultMap id="ProductVOMap" type="com.lmy.shopping.entity.ProductVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="root_category_id" jdbcType="INTEGER" property="rootCategoryId"/>
        <result column="sold_num" jdbcType="INTEGER" property="soldNum"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <collection property="productImgs" column="product_id"
                    select="com.lmy.shopping.mapper.ProductImgMapper.queryProductImg"/>
    </resultMap>


    <resultMap id="ProductVOMap2" type="com.lmy.shopping.entity.ProductVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="root_category_id" jdbcType="INTEGER" property="rootCategoryId"/>
        <result column="sold_num" jdbcType="INTEGER" property="soldNum"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <collection property="productSkus" column="product_id"
                    select="com.lmy.shopping.mapper.ProductSkuMapper.selectLowerestPriceByProductId"/>

    </resultMap>

    <select id="queryProduct" resultMap="ProductVOMap">
        select product_id,
               product_name,
               category_id,
               root_category_id,
               sold_num,
               product_status,
               content,
               create_time,
               update_time
        from product
        order by create_time desc LIMIT 0,3
    </select>

    <select id="queryProductTop6" resultMap="ProductVOMap">
        select product_id,
               product_name,
               category_id,
               root_category_id,
               sold_num,
               product_status,
               content,
               create_time,
               update_time
        from product
        where root_category_id = #{cid}
        order by sold_num desc LIMIT 0,6
    </select>

    <select id="queryProductRand" resultMap="ProductVOMap">
        select product_id,
               product_name,
               category_id,
               root_category_id,
               sold_num,
               product_status,
               content,
               create_time,
               update_time
        from product
        order by rand() LIMIT #{randNum}
    </select>

    <select id="queryProductByCategory3" resultMap="ProductVOMap2">
        SELECT
        p.product_id,
        p.product_name,
        p.category_id,
        p.root_category_id,
        p.sold_num,
        p.product_status,
        p.content,
        p.create_time,
        p.update_time
        FROM
        product p
        LEFT JOIN product_params pa ON pa.product_id = p.product_id
        WHERE
        p.category_id = #{cid}
        <if test="brand!=null and brand!=''">
        and pa.brand=#{brand}
        </if>
        limit #{start}, #{limit}
    </select>

    <select id="queryProductByKeyWord" resultMap="ProductVOMap2">
        SELECT
        p.product_id,
        p.product_name,
        p.category_id,
        p.root_category_id,
        p.sold_num,
        p.product_status,
        p.content,
        p.create_time,
        p.update_time
        FROM
        product p
        LEFT JOIN product_params pa ON pa.product_id = p.product_id
        WHERE
        p.product_name like  "%"#{keyWord,jdbcType=VARCHAR}"%"
        <if test="brand!=null and brand!=''">
            and pa.brand=#{brand}
        </if>
        limit #{start}, #{limit}
    </select>

    <select id="queryBrandByCategory" resultSets="java.util.List" resultType="String">
        SELECT DISTINCT pp.brand
        FROM product_params pp
                 left join
             product p
             on pp.product_id = p.product_id
        WHERE pp.brand IS NOT NULL
          and p.category_id = #{cid};
    </select>

    <select id="queryBrandByKeyWord" resultSets="java.util.List" resultType="String">
        SELECT DISTINCT pp.brand
        FROM product_params pp
                 left join
             product p
             on pp.product_id = p.product_id
        WHERE pp.brand IS NOT NULL
          and p.product_name  like  "%"#{keyWord,jdbcType=VARCHAR}"%"
    </select>


    <select id="queryAllProduct" resultMap="ProductVOMap">
        select product_id,
               product_name,
               category_id,
               root_category_id,
               sold_num,
               product_status,
               content,
               create_time,
               update_time
        from product
        where 1=1
        <if test="keyWord!=null and keyWord!=''">
            keyWord like "%"#{keyWord,jdbcType=VARCHAR}"%"
        </if>
         LIMIT #{start},#{start}
    </select>
</mapper>