<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="static/manger/css/style.css">
    <link type="text/css" rel="stylesheet" href="static/manger/css/pintuer.css">
    <link type="text/css" rel="stylesheet" href="static/manger/css/admin.css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/manger/js/pintuer.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.5/dist/css/layui.css">
    <script src="//unpkg.com/layui@2.6.5/dist/layui.js"></script>
</head>

<body>
<div id="app">
    <div class="panel admin-panel">
        <form action="" id="listform" method="post">
            <div class="padding border-bottom">
                <ul class="search" style="padding-left: 10px;">
                    <li>
                        <input type="text" placeholder="请输入商品Id" name="productId" class="input" value="" v-model="productId"
                               style="width: 250px;line-height: 17px;display: inline-block"/>
                        <a href="javascript:void(0)" onclick="" class="button border-main icon-search" @click="searchComment" >搜索</a>
                    </li>
                </ul>
            </div>
        </form>
        <table class="table table-hover text-center">
            <tr>
                <th>商品Id</th>
                <th>商品名称</th>
                <th>评论人</th>
                <th>评论时间</th>
                <th>评论内容</th>
                <th>评论状态</th>
                <th>操作</th>
            </tr>
            <tr v-for="comment in productComments">
                <td>{{comment.productId}}</td>
                <td>{{comment.productName}}</td>
                <td>
                    {{comment.username.substring(0, 2) + '*****' +
                comment.username.substring(comment.username.length - 1) }}
                    <span v-if="comment.isAnonymous == 1">(匿名)</span>
                    <span v-else>({{comment.nickname}})</span>
                </td>
                <td>{{comment.sepcName}}</td>
                <td style="width: 40%;">{{comment.commContent}}</td>
                <td>
                    <span v-if="comment.isShow==1" style="color: green">正常</span>
                    <span v-else-if="comment.isShow==0" style="color: red">已禁言</span>
                </td>
                <td>
                    <a v-if="comment.isShow==1" class="button  border-red" :data-id="comment.commId"
                       @click="updateComment(0)">
                        <div class="icon-trash-o">禁言</div>
                    </a>

                    <a v-else-if="comment.isShow==0" class="button  border-green" :data-id="comment.commId"
                       @click="updateComment(1)">
                        <div class="icon-recycle">启用</div>
                    </a>


                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <el-pagination background layout="prev, pager, next" :current-page="pageNum"
                                       :page-size="limit" :total="count" @current-change="pager">
                        </el-pagination>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="static/js/utils.js"></script>
<script type="text/javascript" src="static/js/cookie_utils.js"></script>
<script type="text/javascript" src="static/js/vue.js"></script>
<script type="text/javascript" src="static/js/element-ui.js"></script>
<script type="text/javascript" src="static/js/axios.min.js"></script>
<script>
    var layer;
    layui.use('layer', function () {
        layer = layui.layer;
    });
    var baseUrl = "http://localhost:8080/";
    var vm = new Vue({
        el: "#app",
        data: {
            pageNum: 1,
            limit: 10,
            pageCount: 0,
            count: 0,
            productId: "",
            productComments: [],
        },
        created() {
            axios({
                url: baseUrl + "productCom/listComment",
                method: "get",
                params: {
                    pageNum: this.pageNum,
                    limit: this.limit,
                }
            }).then(res => {
                let pageHelper = res.data.data;
                if (res.data.code = 10000) {
                    this.productComments = pageHelper.list;
                    this.pageCount = pageHelper.pageCount;
                    this.count = pageHelper.count;
                }
            })
        },
        methods: {
            pager: function (currentPage) {
                this.pageNum = currentPage;
                axios.get(baseUrl + "productCom/listComment",
                    {
                        params: {
                            pageNum: this.pageNum,
                            limit: this.limit,
                            pid: this.productId,
                        }
                    }).then(res => {
                    let pageHelper = res.data.data;
                    if (res.data.code = 10000) {
                        this.productComments = pageHelper.list;
                        this.pageCount = pageHelper.pageCount;
                        this.count = pageHelper.count;
                    }
                });
            },
            updateComment: function (status) {

            },
            searchComment:function (){
                axios.get(baseUrl + "productCom/listComment",
                    {
                        params: {
                            pageNum: this.pageNum,
                            limit: this.limit,
                            pid: this.productId,
                        }
                    }).then(res => {
                    let pageHelper = res.data.data;
                    if (res.data.code = 10000) {
                        this.productComments = pageHelper.list;
                        this.pageCount = pageHelper.pageCount;
                        this.count = pageHelper.count;
                    }
                });
            }
        },

    })
</script>
</body>
</html>