<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="static/manger/css/style.css">
    <link type="text/css" rel="stylesheet" href="static/manger/css/pintuer.css">
    <link type="text/css" rel="stylesheet" href="static/manger/css/admin.css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/manger/js/pintuer.js"></script>
    <script src="//unpkg.com/layui@2.6.5/dist/layui.js"></script>
</head>

<body>
<div id="app">
    <div class="panel admin-panel">
        <div class="panel-head" id="add">
            <strong><span class="icon-pencil-square-o">Edit</span></strong>
        </div>

        <div class="body-content">
            <form class="form-x" enctype="multipart/form-data">
                <input type="hidden" name="id">
                <div class="form-group">
                    <div class="label"><label>类目名称:</label></div>
                    <div class="field">
                        <input type="text" class="input w50" v-model="category.categoryName"/>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group" v-if="category.categoryLevel==1">
                    <div class="label"><label>口 号:</label></div>
                    <input type="text" class="input w50" v-model="category.categorySlogan"/>
                    <div class="tips"></div>
                </div>
                <div class="form-group">
                    <div class="label"></div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" @click="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/js/utils.js"></script>
<script type="text/javascript" src="static/js/cookie_utils.js"></script>
<script type="text/javascript" src="static/js/vue.js"></script>
<script type="text/javascript" src="static/js/axios.min.js"></script>
<script>
    var baseUrl = "http://localhost:8080/";
    var vm = new Vue({
        el: "#app",
        data: {
            categoryID: "",
            category: {},
        },

        created() {
            this.categoryID = getCookieValue("categoryID");
            axios({
                url: baseUrl + "index/queryCategory",
                method: "get",
                params: {
                    categoryId: this.categoryID,
                }
            }).then(res => {
                if (res.data.code = 10000) {
                    this.category = res.data.data;
                }
            });
        },
        methods: {
            submit: function () {
                var category = {
                    "categoryName": this.category.categoryName,
                    "categorySlogan": this.category.categorySlogan,
                };
                axios({
                    url: baseUrl + "index/updateCategory",
                    method: "put",
                    params: {
                        categoryId: this.categoryID,
                    },
                    data: category,
                }).then(res => {
                    if (res.data.code = 10000) {
                        layer.msg("修改成功");
                    }
                })
            },
        }
    })
</script>
</body>
</html>